.header {
  height: 34vw;
  margin: 30px auto;
  background: url("./header_img.png") no-repeat;
  background-size: contain;
  position: relative;
}

.header-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.5vw;
  max-width: 50%;
  bottom: 10%;
  left: 6vw;
  animation: fadeIn 3s;
  -webkit-animation: fadeIn 3s;
}

.header-content h2 {
  font-weight: 500;
  color: #fff;
  font-size: max(4.5vw, 22px);
  /* margin-bottom: 0.5vw; */
}

.header-content p {
  color: #fff;
  font-size: 1vw;
}

.header-content button {
  border: none;
  color: #747474;
  font-weight: 500;
  padding: 1vw 2.3vw;
  background-color: #fff;
  font-size: max(1vw, 13px);
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.header-content button:hover {
  background-color: #f0f0f0; /* Slight background change on hover */
}

@media (max-width: 1024px) {
  .header-content {
    max-width: 55%;
  }
}

@media (max-width: 768px) {
  .header-content {
    max-width: 65%;
  }

  .header-content p {
    display: none;
  }

  .header-content button {
    padding: 2vw 4vw;
    font-size: max(1.4vw, 11px);
  }
}

@media (max-width: 425px) {
  .header {
    height: 30vw;
  }
  .header-content {
    max-width: 85%;
    left: 5vw;
    /* gap: 3vw; */
  }

  .header-content button {
    padding: 1.5vw 3.5vw; /* Adjusted button padding for phones */
    font-size: max(2vw, 10px); /* Adjusted font size for phones */
  }
}

@media (max-width: 375px) {
  .header-content h2 {
    font-size: max(2.3vw, 14px);
  }
  .header-content button {
    padding: 1.5vw 3vw;
  }
}

@media (max-width: 320px) {
  .header {
    height: 34vh;
    margin: 0;
  }
  .header-content {
    max-width: 90%;
    left: 5vw;
    top: 10%;
  }
  
  .header-content h2 {
    font-size: max(7vw, 14px);
  }
  .header-content button {
    padding: 1.5vw 3vw;
  }
}
